{{! Header }}
<header class="white_gradient j-viewheader">
	<span class="header_title">Category: </span>		
</header>

{{! Column }}

{{! Viewport }}
<section class="j-outerwrap j-viewport viewport">
	<div class="j-viewport-scroller scroller">
		{{outlet}}
	</div>
</section>
