<section id="internal_header" class="full_section blue_gradient">
	<header class="icon logo"></header>
</section>
{{partial 'main_nav'}}
<div id="j-main_content" class='j-outerwrap'>
	{{ outlet }}
</div>