<!DOCTYPE html>
<html>
<head>
  <title>PhotoStock Ember Training - Application</title>
  <%= stylesheet_link_tag "app/app_css_manifest", media: "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "vendor/modernizr", "vendor/browser_select" %>
</head>
<body>
	<div id="pstock">

	</div>
	<%= javascript_include_tag "app/app_js_manifest" %>
</body>
</html>
